.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

@media (max-width: 950px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 620px) {
  .card-list {
    grid-template-columns: 1fr;
    gap: 22px;
  }
}